#nav-bar{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0em 2em;
  color: #e8fdff;
  background-color: #00a087;
  overflow: hidden;
  z-index: 1
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  height:80px;
  margin-left: 10px;
  font-size: 2em;
  line-height: 80px;
}
