#nav-bar{
  position: fixed;
  display: flex;
  top: 0px;
  width: 100%;
  height: 80px;
  padding: 0em 2em;
  color: #e8fdff;
  background-color: #00a087;
  align-items: center;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  margin-left: 10px;
  font-size: 2em;
  flex-grow: 1;
}

#nav-bar .compose {
  height: 60px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  color: #00a087;
  font-size: 20px;
  background-color: #dcfffa;
}

#nav-bar .compose:hover {
  color: black;
  background-color: white;
}
