.new-tweet {
  float: left;
  margin: 0px 2em;
  border-radius: 5px; 
  border: 1px solid rgb(204, 204, 204);
  background-color: #eee;
  padding: 5px 0;
}

.new-tweet h2 {
  border-bottom: 1px solid black;
  margin: 5px 10px;
}

.new-tweet .counter {
  margin: 5px 0;
  float: right;
}

.new-tweet input {
  margin: 5px 0;
  margin-right: 5px;
  float: left;
}

.new-tweet textarea {
  float:left;
  width: 366px;
  height: 80px;
}
.new-tweet .error{
  color: red;
}

.new-tweet form{
  padding: 10px;
}
