.tweets {
  margin: 0px 2em;
  margin-top: 20px; 
  article:hover {
    border-color:rgb(104, 104, 104) 
  }
  article:hover header{
    opacity: 1;
  }
  article:hover .like {
    visibility: visible;
  }
  article:hover .likeCount {
    visibility: visible;
  }
  article:hover .flag {
    visibility: visible;
  }
  article {
    height: 150px;
    position: relative;
    border: 1px solid rgb(104, 104, 104, 0.5);
    border-radius: 5px; 
    margin-bottom: 10px;
  }
    header {
      opacity: 0.5;
      background-color: #eee;
      height: 60px;
      font-size: 150%;
    }
      .avatar {
        float: left;
        width: 60px;
        height: 60px;
      }
      .handle {
        float: right;
        margin-right: 5px;
        font-size: 14px;
        color: rgb(109, 109, 109);
      }
    .content{
      padding: 2px;
    }
    footer {
      border-top: 1px solid rgb(204, 204, 204);;
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      align-items: center;
    }
      .like {
        width: 15px;
        height: 15px;
        margin-left: 7px;
        margin-right: 5px;
        visibility: hidden;
      }
      span{
        flex-grow: 1;
      }
      span.likeCount{
        flex-grow: 0;
        visibility: hidden;
      }
      .flag {
        width:  45px;
        height: 20px;
        visibility: hidden;
      }
}
